/* For mobile */
@media (min-width: 360px) {
    .container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media (min-width:992px) {
    .container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}