<form [ngSwitch]="selectedButton" style="width: 80%;">
    <div *ngSwitchCase="'plain-text'" id="plain-text-input" style="display: flex; flex-direction: column; justify-content: space-between;">
        <label for="plain-text-input-area">Plain Text</label>
        <textarea id="plain-text-input-area" name="plain-text-input-area" [(ngModel)]="data"
            (input)="sendData()"></textarea>
    </div>
    <form *ngSwitchCase="'upi'" id="upi-input" style="display: flex; flex-direction: column; justify-content: space-between;">
        <label for="account-holder-name">Name</label>
        <input name="account-holder-name" id="account-holder-name" type="text" [(ngModel)]="UPIData.accountHolderName" (input)="sendData()">
        <label for="upi-id">UPI ID</label>
        <input name="upi-id" id="upi=id" type="text" [(ngModel)]="UPIData.UPIId" (input)="sendData()">
    </form>
    <div *ngSwitchCase="'contact'" id="contact-input" style="display: flex; flex-direction: column; justify-content: space-between;">
        <label for="contact-input-area">Contact</label>
        <div style="display: flex; flex-direction: column; align-items: flex-start;">
            <label for="first-name">First Name*</label>
            <input name="first-name" id="first-name" type="text" [(ngModel)]="contactData.firstName" (input)="sendData()">
            <label for="middle-name">Middle Name</label>
            <input name="middle-name" id="middle-name" type="text" [(ngModel)]="contactData.middleName" (input)="sendData()">
            <label for="last-name">Last Name*</label>
            <input name="last-name" id="last-name" type="text" [(ngModel)]="contactData.lastName" (input)="sendData()">
            <label for="nickname">Nickname</label>
            <input name="nickname" id="nickname" type="text" [(ngModel)]="contactData.nickname" (input)="sendData()">
            <label for="telephone-number">Phone</label>
            <input name="telephone-number" id="telephone-number" type="text" [(ngModel)]="contactData.telephone" (input)="sendData()">
        </div>
    </div>
    <app-help [text]="helpText"></app-help>
</form>